<% card = locals[:card] %>
<div class="card <%= 'tapped' if card.tapped? %>  ">
  <div class="header">
    <% if !card.is_a? Land %>
      <div class="cost"><%= card.cost %></div>
    <% end %>
    <div class="name"><%= card.name %></div>
  </div>
<% if card.main_action %>
  <a href="/action/<%= "#{card.main_action.to_param}" %>" title="<%= card.main_action.name %>" class="ajax">
<% end %>
  <div class="image" style="background-image: url('<%= card.img %>');">&nbsp;</div>
<% if card.main_action %>
  </a>
<% end %>

<% if card.is_a? Creature %>
  <div class="characteristics">
    <span class="attack"><%= card.attack %></span>/<span class="health"><%= card.health %></span>
  </div>
<div class="abilities">
  <% card.abilities.each do |ability| %>
    <%= erb :_ability, locals: {ability: ability }%>
  <% end %>
</div>
<% end %>

<div class="actions">
  <% card.actionable_actions.each do |action| %>
    <%= erb :_action, locals: {action: action }%>
  <% end %>
</div>
</div>
