<% card = locals[:card] %>
<% action = locals[:action] %>
<div id="<%= card.js_id %>" class="card  <%= card.type %> <%= card.flags.keys.join(' ') %>
<%= ' source ' if me && me.target_action && me.target_action.action && me.target_action.action.card  == card %>
<%= ' possible_target ' if me && me.target_action && me.target_action.can_target(card) %>
<%= ' tapped ' if card.tapped? %>
<%= ' my_card ' if card.player == me %>
<%= ' opponent_card ' if me && card.player == me.opponent %> ">
  <div class="header">
    <% if card.cost != 0 %>
      <div class="cost"><%= card.cost %><%= "/#{card.value} = #{(card.value / card.cost.to_f).round(1) }" if card.is_a?( Creature ) && false %></div>
    <% end %>
    <div class="name" title="<%= card.name %><%= "\n#{card.description}" if card.description%>">
    <% if card.flags[:attacking] %>
      <img src="attack.png" title="Attacking" height="18"/>
    <% end %>
    <% if card.flags[:blocking] %>
      <img src="block.png" title="Blocking" height="18" style="margin-left:-3px;"/>
    <% end %>
      <span><%= "* " if card.class.disabled? %><%= card.name %></span>
    </div>
  </div>
<% close = false %>
<% if me && me.target_action %>
  <% if me.target_action.can_target card %>
    <% close = true %>
    <a href="<%= "/action/#{me.target_action.action.to_param}/#{card.to_param}"%>" title="<%= me.target_action.action.card.name %> : <%= me.target_action.action.card.description %>" class="ajax">
  <% elsif me.target_action.action && me.target_action.action.card  == card %>
    <% close = true %>
    <a href="/cancel_target_action" class="ajax" title="Cancel <%= me.target_action.action.name %> : <%= me.target_action.action.card.description %>">
  <% end %>
<% end %>
<% if !close  && me  && card.owner == me && card.main_action %>
  <% close = true %>
  <a href="/action/<%= "#{card.main_action.to_param}" %>" title="<%= card.main_action.name %>" class="ajax">
<% end %>


  <div class="image" style="background-image: url('<%= card.img %>');" title="<%= card.name %><%= "\n#{card.description}" if card.description%>">&nbsp;</div>
<% if close %>
  </a>
<% end %>

<% if card.is_a? Creature %>
  <div class="characteristics" title="<%= card.strength%>/<%= card.toughness%>">
    <span class="attack <%= 'bonus' if card.attack > card.strength %> <%= 'malus' if card.attack < card.strength %> "><%= card.attack %></span>
    /
    <span class="health <%= 'bonus' if card.health > card.toughness %> <%= 'malus' if card.health < card.toughness %> " ><%= card.health %></span>
  </div>
<% end %>
<div class="abilities">
  <% if card.is_a? Spell %>
    <%= erb :_ability, locals: {
      ability: Struct.new(:name, :img, :description , :permanent?).new(card.name , "#{card.type}.png" , card.description, true)
    }%>
  <% end %>
  <% card.abilities.each do |ability| %>
    <%= erb :_ability, locals: {ability: ability }%>
  <% end %>
</div>


<% if card.flags[:target] || card.flags[:target_by] || card.targets.size > 0 || card.targeted_by.size > 0 || locals[:display_class_name]%>
<div class="targets">
<% if locals[:display_class_name] %>
  <div><%= card.class.name%></div>
<% end %>
<% if action %>
  <% action.targets.each do |t|%>
    <div ><%= t.name %></div>
  <% end %>
<% else %>
  <% card.targets.each do |t|%>
    <div ><%= t.name %></div>
  <% end %>
  <% card.targeted_by.each do |t|%>
    <div ><%= t.name %></div>
  <% end %>

  <% if card.flags[:target] %>
      <% card.flags[:target].each do |t|%>
        <div  title="<%= t[:description] %>"><img src="<%= t[:action].img %>"  height="14" /> <%= t[:target].name %></div>
      <% end %>
  <% end %>
  <% if card.flags[:target_by] %>
      <% card.flags[:target_by].each do |t|%>
        <div title="<%= t[:description] %>" ><img src="<%= t[:action].img %>" height="14" /> <%= t[:target].name %></div>
      <% end %>
  <% end %>

<% end %>
</div>
<% end %>

<% if me && ( card.owner == me || action )   %>
<div class="actions">
  <% if action %>
    <%= erb :_action, locals: {action: action , disabled: true }%>
  <% else %>
    <% card.actionable_actions.each do |action| %>
      <%= erb :_action, locals: {action: action }%>
    <% end %>
    <% if me && me.target_action && me.target_action.action && me.target_action.action.card  == card %>
      <a href="/cancel_target_action" class="action ajax"><img src="undo.png" title="Cancel <%= me.target_action.action.name %> : <%= me.target_action.action.description %>"></a>
      </a>
  <% end %>
  <% end %>
</div>
<% end %>
</div>
<% if false && card.is_a?(Creature ) && card.flags[:blocked_creature] %>
<script type="text/javascript">
$(document).ready(function(){
  $( "#card-<%= card.to_param%>" ).arrow( $("#card-<%= card.flags[:blocked_creature].to_param%>"));
});
</script>
<% end %>
