<% card = locals[:card] %>
<div id="card-<%= card.to_param%>" class="card  <%= card.type %> <%= card.flags.keys.join(' ') %> <%= 'target' if me && me.target_action && me.target_action.can_target(card) %>
<%= 'tapped' if card.tapped? %> ">
  <div class="header">
    <% if card.cost != 0 %>
      <div class="cost"><%= card.cost %></div>
    <% end %>
    <div class="name" title="<%= card.name %><%= "\n#{card.description}" if card.description%>"><span><%= card.name %></span></div>
  </div>
<% if me && me.target_action %>
  <% if me.target_action.can_target card %>
    <% close = true %>
    <a href="<%= "/action/#{me.target_action.action.to_param}/#{card.to_param}"%>" class="ajax">
  <% end %>
<% elsif me  && card.owner == me && card.main_action %>
  <% close = true %>
  <a href="/action/<%= "#{card.main_action.to_param}" %>" title="<%= card.main_action.name %>" class="ajax">
<% end %>


  <div class="image" style="background-image: url('<%= card.img %>');">&nbsp;</div>
<% if close %>
  </a>
<% end %>

<% if card.is_a? Creature %>
  <div class="characteristics">
    <span class="attack"><%= card.attack %></span>/<span class="health"><%= card.health %></span>
  </div>
<% end %>
<div class="abilities">
  <% card.abilities.each do |ability| %>
    <%= erb :_ability, locals: {ability: ability }%>
  <% end %>
</div>

  <div class="blockers">
<% if card.flags[:blocked_by]%>
    <%= card.flags[:blocked_by].map(&:name).join(", ") %>
<% end %>
<% if card.flags[:blocked_creature]%>
    <%= card.flags[:blocked_creature].name %>
<% end %>
<% if card.flags[:spell_target]%>
    <%= card.flags[:spell_target].name %>
<% end %>
  </div>

<% if card.owner == me && me %>
<div class="actions">
  <% card.actionable_actions.each do |action| %>
    <%= erb :_action, locals: {action: action }%>
  <% end %>
</div>
<% end %>
</div>
<% if false && card.is_a?(Creature ) && card.flags[:blocked_creature] %>
<script type="text/javascript">
$(document).ready(function(){
  $( "#card-<%= card.to_param%>" ).arrow( $("#card-<%= card.flags[:blocked_creature].to_param%>"));
});
</script>
<% end %>
