<% creature = locals[:creature] %>
<% action = locals[:action] %>
<% if action %>
  <a title='<%= "#{action} #{creature.name}"%>'
     href="/<%= "#{action}/#{creature.to_param}" %>">
<% end %>

<div class="card <%= 'tapped' if creature.tapped? %>  ">
  <div class="header">
    <% if creature.cost %>
      <div class="cost"><%= creature.cost %></div>
    <% end %>
    <div class="name"><%= creature.name %></div>
  </div>

  <div class="image" style="background-image: url('<%= creature.img %>');">&nbsp;</div>

  <div class="characteristics">
    <span class="attack"><%= creature.attack %></span>/<span class="health"><%= creature.health %></span>
  </div>

<div class="abilities">
  <% creature.abilities.each do |ability| %>
    <%= erb :_ability, locals: {ability: ability }%>
  <% end %>
</div>
</div>

<% if action %>
  </a>
<% end %>
