<% creature = locals[:creature] %>
<div class="card <%= 'tapped' if creature.tapped?  %>  ">
  <div class="header">
    <% if creature.cost %>
      <div class="cost"><%= creature.cost %></div>
    <% end %>
    <div class="name"><%= creature.name %></div>
  </div>

  <div class="image" style="background-image: url('<%= creature.img %>');">&nbsp;</div>
<!--
  <div class="header">
    <div class="type"><%= creature.type %></div>
  </div>

  <div class="text">&nbsp;</div>
-->
  <div class="characteristics">
    <span class="attack"><%= creature.attack %></span>/<span class="health"><%= creature.health %></span>
  </div>
</div>
