<div id="logs" >
  <ul>
    <% @world.logs.reverse.each do |log| %>
    <li><%= log %></li>
    <% end %>
  </ul>
</div>




<div id="hand" >
  <% me.hand.cards.sort_by(&:cost).each  do |card| %>
    <%= erb :_card, locals: {card: card   }%>
  <% end %>
</div>


<div id="turn" class="<%= ( (me.playing? &&  !$world.turn.phase.is_a?(BlockPhase) ) || ( !me.playing? &&  $world.turn.phase.is_a?(BlockPhase) ) ) ? " playing" : " not_playing"%>">
  <%= erb :_turn, locals: {turn: @world.turn }%>
</div>

<div id="me">
  Me: <%= me.health %> HP
  <br/>
  Cards : <%= me.hand.size %>
</div>


<div id="opponent">
  Op: <%= opponent.health %> HP
  <br/>
  Cards : <%= opponent.hand.size %>
</div>


<div id="next">
<% if @world.turn.phase.is_a?(BlockPhase) %>

  <% if me.opponent.playing? %>
  <a href="/next" accesskey="n" class="ajax">Finished blocking</a>
  <% else %>
    Opponent is blocking ...
  <% end %>
<% else %>
  <% if me.playing? & @world.turn.phase.can_pass_to_next? %>
  <a href="/next" accesskey="n" class="ajax"><%= @world.turn.phase.is_a?(Untap) ? "START" : "Next" %></a>
  <!-- <hr/> -->
  <!-- <a href="/auto_play" accesskey="a" class="ajax">Auto</a>
  <hr/>
  <% if !params[:auto_play] %>
  <a  href="/auto_play?auto_play=true" accesskey="+">AI</a>
  <% else %>
  <script>
    window.setTimeout(function(){
      window.location.href = "auto_play?auto_play=true" ;
    }, 1000);
  </script>
  <a href="/game" accesskey="+">Stop AI</a>
  <% end %> -->

  <% elsif me.playing? && !@world.turn.phase.can_pass_to_next? %>
    <%= @world.turn.phase.cannot_pass_to_next_because %>
  <% else %>
    Opponent is playing ...
  <% end %>
<% end %>
</div>


<table id="playground" border="0" padding="0" spacing="0">
  <tr id="opponent_playground_tr" height="40%" ><td >

  <div id="opponent_playground" >
    <% if opponent %>
      <% opponent.lands.sort_by(&:name).each  do |card| %>
        <%= erb :_card, locals: {card: card   }%>
      <% end %>
      <br>
      <% opponent.creatures.each  do |card| %>
        <%= erb :_card, locals: {card: card   }%>
      <% end %>
    <% end %>
  </div>
</div>


  </div>

</td></tr>

  <tr d="my_playground_tr" height="60%" ><td>

<div id="my_playground">
  <div style="padding-bottom:125px;">
  <% me.creatures.sort_by(&:cost).reverse.each  do |card| %>
    <%= erb :_card, locals: {card: card   }%>
  <% end %>
  <br/>
  <% me.lands.sort_by(&:name).each  do |card| %>
    <%= erb :_card, locals: {card: card   }%>
  <% end %>
</div>
</div>

</td></tr>
 </table>
