<div id="logs" >
  <ul>
    <% @world.logs.reverse.each do |log| %>
    <li><%= log %></li>
    <% end %>
  </ul>
</div>


<% if me.health <= 0 %>
<div id="lose" >
  <a href="/">YOU LOSE !</a>
</div>
<% elsif  opponent.health <= 0 %>
<div id="win" >
  <a href="/">YOU WIN !</a>
</div>

<% end %>

<div id="hand" >
  <% me.hand.sort_by(&:cost).each  do |card| %>
    <%= erb :_card, locals: {card: card   }%>
  <% end %>
</div>


<div id="turn" class="<%= me.active? ? " playing" : " not_playing"%>">
  <%= erb :_turn, locals: {turn: @world.turn }%>
</div>

<div id="me">
  <%= me.name %>: <%= me.health %> HP
  <br/>
  Cards : <%= me.hand.size %>
</div>

<div id="opponent">
  <%= opponent.name %>: <%= opponent.health %> HP
  <br/>
  Cards : <%= opponent.hand.size %>
  <br/>
  AI : <%= opponent.ai %>
</div>



<div id="next">

  <% if me.active? & @world.turn.phase.can_pass_to_next? %>
    <a href="/next" accesskey="n" class="ajax">
        <% if @world.turn.phase.is_a?(Draw) %>
        Start
        <% elsif @world.turn.phase.is_a?(Post) %>
        End Turn
        <% elsif @world.turn.phase.is_a?(BlockPhase) %>
          <% if me.creatures.find{ |c| c.flags[:blocking] } %>
            Finished Blocking
          <% else %>
            Skip Block
          <% end %>

        <% elsif @world.turn.phase.is_a?(Combat) %>
          <% if me.creatures.find{ |c| c.flags[:attacking] } %>
            Attack
          <% else %>
            Skip Combat
          <% end %>
        <% else %>
        Next
        <% end %>
    </a>
  <% elsif me.active? && !@world.turn.phase.can_pass_to_next? %>
    <%= @world.turn.phase.cannot_pass_to_next_because %>
  <% else %>
    Opponent is playing ... <img src="http://www.fastforms.failteireland.ie/OnlineForms/images/IndicatorGreen.gif"/>
  <% end %>

</div>


<table id="playground" border="0" padding="0" spacing="0">
  <tr id="opponent_playground_tr" height="40%" ><td >

  <div id="opponent_playground" >
    <% if opponent %>
      <% opponent.lands.sort_by(&:name).each  do |card| %>
        <%= erb :_card, locals: {card: card   }%>
      <% end %>
      <br>
      <% opponent.creatures.each  do |card| %>
        <%= erb :_card, locals: {card: card   }%>
      <% end %>
    <% end %>
  </div>
</div>


  </div>

</td></tr>

  <tr d="my_playground_tr" height="60%" ><td>

<div id="my_playground">
  <div style="padding-bottom:125px;">
  <% me.creatures.sort_by(&:cost).reverse.each  do |card| %>
    <%= erb :_card, locals: {card: card   }%>
  <% end %>
  <br/>
  <% me.lands.sort_by(&:name).each  do |card| %>
    <%= erb :_card, locals: {card: card   }%>
  <% end %>
</div>
</div>

</td></tr>
 </table>
