
<a href="/next">Next</a>
<a href="/end">End</a>
<a href="/draw">Draw</a>

<%= erb :_player, locals: {player: @world.p1 }%>
<hr/>

<div id="kingdom">
  <% @world.p1.permanents.each  do |card| %>
      <%= erb :_creature, locals: {creature: card , action: "toggle"}%>
  <% end %>
</div>


<div id="deck">
  <a href="/draw">
    <%= erb :_deck, locals: {deck: @world.p1.deck }%>
  </a>
</div>

<div id="hand">
  <%= erb :_hand, locals: {hand: @world.p1.hand, action: @world.turn.phase.action }%>
</div>

<div id="turn">
  <%= erb :_turn, locals: {turn: @world.turn }%>
</div>
