<% if !me %>
<br/>
<form action="/login" method="GET">
  <input style="margin: 15px; font-size:250%;" type="text" value="<%= "Player #{@players.size +  1}" if dev? %>" placeholder="Login as" name="name" autofocus required />
  <input type="submit" value="Login" style="margin: 15px; width:19% ;font-size:250%;  " />
</form>



<% else %>
<h1>Welcome <%= me.name %> [<a href="/clear">Logout</a>]</h1>

<h3>Single Player</h3>
<ul>
    <li><a href="/game/ai">Play against AI</a></li>
</ul>

  <% if !me.world %>

<h3>Multiplayer <a href="/">[Refresh]</a></h3>
<ul>
    <li><a href="/game/new">Create game</a></li>
    <% @players.reject{ |p| p == me || p.world == nil }.map(&:world).each do |world| %>
        <li><a href="/game/join/<%= world.to_param %>">Join <%= world.name %> vs <%= world.p1.name %></a></li>
    <% end %>
  <% else %>
    <li>In game <%= me.world.name %> <a href="/game/cancel">[cancel]</a> </li>

    <% if me.world.ready? %>
      <h1><%= me.world.p2.name %> joined, <a href="/game">START</a></h1>
    <% else %>
      <h1>Waiting for player to join ... <a href="/">Refresh</a></h1>
    <% end %>
  <% end %>

</ul>




<h3>Players Currently logged in :</h3>
<ul>
  <% @players.each do |p| %>
    <% if p == me %>
      <li><%= p.name %> (me)</li>
    <% else %>
      <li><%= p.name %></li>
    <% end %>
  <% end %>
</ul>


<h3>Other actions</h3>

<ul>
  <% if me.selected_deck %>
    <li><a href="/deck">Change Deck (<%= me.selected_deck.name %>)</a></li>
  <% else %>
    <li><a href="/deck">Select a Deck</a></li>
  <% end %>
  <li><a href="/clear">Clear</a></li>
  <li><a href="/clear_all">Clear All</a></li>
  <li><a href="/cards">View all cards</a></li>
  <li><a href="/card_importer">Create a new Card</a></li>
</ul>


<% end %>
